{{template "header.html" .}}
<section class="section">
  <div class="container">
    <h1 class="title is-1">
      TODoo
    </h1>
    <p class="subtitle is-1">
      Remind you every things!
    </p>
    <div class="columns">
      <div class="column">
      <article class="message">
        <div class="message-header"></div>
        <div class="message-body">
          <strong>Contact me:</strong> <br>paul0610123@gmail.com<br>
          <strong>Github:</strong><br><a href="http://github.com/TTC-CCF">TTC</a>
        </div>
      </article>
      </div>
      <div class="column"></div>
      <div class="column"> </div>
      <div class="column"> </div>
    </div>
  </div>
  </div>

</section>
{{template "footer.html"}}